In [1]:
import pandas as pd
from pandas_datareader import data as pdr

#import pandas_datareader as pdr
import yfinance as yf
yf.pdr_override()
import pandas as pd
import seaborn as sns
from datetime import datetime, timedelta, timezone
import matplotlib.pyplot as plt
sns.set_style("darkgrid")
plt.rcParams.update({'figure.max_open_warning': 0})

In [2]:

start_date = [
    "2022-09-21", "2022-07-27", "2022-06-15", "2022-05-04", "2022-03-16", 
    "2018-12-19", "2018-09-26", "2018-06-13", "2018-03-21",
    "2017-12-13", "2017-06-14", "2017-03-15", "2016-12-14", "2015-12-16", "2006-06-29", "2006-05-10",
    "2006-03-28", "2006-01-31", "2005-12-13","2005-11-01", "2005-09-01","2005-09-20","2005-08-09","2005-06-30",
    "2005-05-03", "2005-03-22", "2005-02-02","2004-12-14","2004-11-10","2004-09-21","2004-08-10","2004-06-30",
    "2000-05-16","2000-03-21", "2000-02-02"
    ]
end_date = []

for i in range(len(start_date)): ## Generate End dates for each FOMC meeting term
    start_date[i] = datetime.strptime(start_date[i], "%Y-%m-%d") - timedelta(days = 1)
    end_date.append(start_date[i] + timedelta(days = 55))
    start_date[i] = datetime.strftime(start_date[i], "%Y-%m-%d") 
    end_date[i] = datetime.strftime(end_date[i], "%Y-%m-%d") # end_date and start_date as strings

In [4]:
import csv

tickerList = []

with open('TickerList.csv') as f:
    reader = csv.reader(f)
    tickerList = list(reader)


print(len(tickerList[0]))
tickerList[0][43]='BRK-B'
tickerList = [val for sublist in tickerList for val in sublist]
tickerList

353

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADM',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'ALK',
 'ALB',
 'ARE',
 'ALLE',
 'ALL',
 'MO',
 'AMCR',
 'AEE',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'APH',
 'AON',
 'APTV',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'AZO',
 'AVB',
 'AVY',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK-B',
 'BBY',
 'BIO',
 'BLK',
 'BK',
 'BA',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'BR',
 'BRO',
 'BF.B',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBRE',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'C',
 'CFG',
 'CLX',
 'CMS',
 'KO',
 'CL',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'COO',
 'GLW',
 'CTVA',
 'CTRA',
 'CCI',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'DVN',
 'DLR',
 'DFS',
 'DIS',
 'DG',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'ECL',
 'EIX',
 'EW',
 'ELV',
 'LLY',
 'EMR',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQR',
 'ESS',
 'EL',
 'RE',
 'EVRG',
 'ES',
 'EXR',
 'XOM',
 'FDS',
 'FRT',
 'FDX',
 'FRC',
 'FE',
 'FIS',
 'FLT',
 'FMC',
 'F',
 'FTV',
 'FBHS',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HCA',
 'PEAK',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HD',
 'HRL',
 'HWM',
 'HPQ',
 'HUM',
 'HII',
 'IBM',
 'IEX',
 'ITW',
 'IR',
 'ICE',
 'IP',
 'IPG',
 'IFF',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KR',
 'LHX',
 'LH',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LNC',
 'LIN',
 'LYV',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'MET',
 'MTD',
 'MGM',
 'MAA',
 'MHK',
 'MOH',
 'TAP',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NEM',
 'NEE',
 'NKE',
 'NI',
 'NSC',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVR',
 'OXY',
 'OMC',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PKG',
 'PH',
 'PAYC',
 'PNR',
 'PKI',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'PPG',
 'PPL',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PSA',
 'PHM',
 'PWR',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'RCL',
 'SPGI',
 'CRM',
 'SLB',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SJM',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'STT',
 'STE',
 'SYK',
 'SYF',
 'SYY',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TXT',
 'TMO',
 'TJX',
 'TT',
 'TDG',
 'TRV',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'UNP',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VZ',
 'VFC',
 'VICI',
 'V',
 'VNO',
 'VMC',
 'WAB',
 'WMT',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'GWW',
 'XYL',
 'YUM',
 'ZBH',
 'ZTS']

In [9]:

for i in range(len(tickerList)):
    price = yf.Ticker(tickerList[i])
    stock=pd.DataFrame()
    for m in range(len(start_date)):
        price_mvt = price.history(start=start_date[m], end = end_date[m], interval = '1d')
        price_mvt=price_mvt['Close']
        price_mvt=price_mvt.reset_index()
        price_mvt=price_mvt.drop(columns='Date')
        price_mvt=price_mvt.transpose()
        price_mvt=price_mvt.rename({'Close':start_date[m]}) 
        price_mvt=price_mvt.iloc[0: , 0:31]
        stock = stock.append(price_mvt)
    stock.to_csv(tickerList[i]+'.csv')
    #list.append(tickerList[0][i]+'.csv')

In [30]:
stock

         Close
0    53.410000
1    52.290001
2    51.209999
3    49.770000
4    48.410000
..         ...
33  836.147949
34  848.817322
35  840.370972
36  881.016968
37  908.994141

[1318 rows x 1 columns]

       another
0   864.164124
1   863.636780
2   855.195740
3   850.447998
4   824.068542
5   809.824402
6   821.430847
7   796.107117
8   800.328003
9   790.831726
10  814.045044
11  793.469604
12  781.862732
13  754.956604
14  732.271301
15  721.719604
16  701.671936
17  705.892456
18  735.964233
19  746.516113
20  756.439880
21  734.797058
22  737.964233
23  715.793457
24  687.815918
25  701.013062